.item-list-container {
  padding: 20px; /* Add padding around the container */
  background-color: #B09FE4; /* Set background color for the container */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
  max-width: 1200px; /* Limit the width of the container */
  margin: auto; /* Center the container */
}

h2 {
  text-align: center; /* Center the heading */
  margin-bottom: 20px; /* Space below the heading */
}

.item-table {
  width: 100%; /* Full width for the table */
  border-collapse: collapse; /* Remove spaces between borders */
}

.item-table th, .item-table td {
  padding: 10px; /* Add padding for table cells */
  text-align: left; /* Align text to the left */
  border: 1px solid #ddd; /* Border for table cells */
}

.item-table th {
  background-color: #007bff; /* Header background color */
  color: white; /* Header text color */
}

.item-image {
  max-width: 100px; /* Set a max width for images */
  height: auto; /* Maintain aspect ratio */
}


.qr-code-display {
  margin-top: 10px; /* Adjust the top margin as needed */
  margin-bottom: 10px; /* Adjust the bottom margin as needed */
  display: flex;
  flex-direction: column; /* Stack QR code and button vertically */
  align-items: center; /* Center align the QR code and button */
}

.upload-qr-button {
  margin-top: 10px; /* Adjust the top margin as needed */
}