.item-list-container {
  padding: 20px; /* Add padding to the container */
  background-color: #B09FE4; /* Set background color */
  height: calc(100vh - 40px); /* Full height minus any header/footer */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

h2 {
  text-align: center; /* Center the heading */
  margin-bottom: 20px; /* Space below the heading */
}

.item-table {
  width: 100%; /* Make the table width 90% of the container */
  max-width: 1200px; /* Set a max width for larger screens */
  border-collapse: collapse; /* Remove gaps between table cells */
  background-color: white; /* Set background color for the table */
}
.item-table th, .item-table td {
  border: 1px solid #ddd; /* Add borders to table cells */
  padding: 8px; /* Add padding inside table cells */
  text-align: left; /* Align text to the left */
}

.item-table th {
  background-color: #292b2e; /* Header background color */
  color: white; /* Header text color */
}

.item-image {
  max-width: 100px; /* Set a max width for images */
  height: auto; /* Maintain aspect ratio */
}


.qr-code-display {
  margin-top: 10px; /* Adjust the top margin as needed */
  margin-bottom: 10px; /* Adjust the bottom margin as needed */
  display: flex;
  flex-direction: column; /* Stack QR code and button vertically */
  align-items: center; /* Center align the QR code and button */
}

.upload-qr-button {
  margin-top: 10px; /* Adjust the top margin as needed */
}